body{
  background-image: url(/assets/images/jscript.jpg);
}

.card-header a {
  font-size: 150%;
  color:black;
}

a#btnScrape.nav-link {
  font-size: 120%;
  color:red;  
}

.nav-link {
  font-size: 120%;
  color:black;
}

#articleNotes {
  margin-right: 0.5%;
}

h2 {
  width: 100%;
  position: center;
 }

 